

#timeBar{
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

a{
    text-decoration: underline;
}

#start,
#question,
#end,
#highScores{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.answerButton{
    background-color: rgba(138, 43, 226, 0.9);
    
}

.answerButton:hover{
    background-color: rgba(138, 43, 226, 0.6);

}